{{#if this.isLarge}}
  <button type="button" {{action this.toggleSize}}>
    <img ...attributes>
    <small>View Smaller</small>
  </button>
{{else}}
  <button type="button" {{action this.toggleSize}}>
    <img ...attributes>
    <small>View Larger</small>
  </button>
{{/if}}